{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block body %}
    <h1>hello there !</h1>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}

