<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>dazdazdaz</title>
</head>
<body>
    <h1>Modification d'un article</h1>

    {% include 'post/form/_form.html.twig' with {'route': route.name}%}
</body>
</html>